.mat-stepper-horizontal {
  margin-top: 8px;
}
.mat-mdc-form-field {
  margin-top: 16px;
}

.help-block {
  color: red;
  font-size: 0.8rem;
}

.mat-form-field {
  width: 100%;
}
.small-text {
  font-size: 0.8rem;
}
.container {
  padding: 0;
}

@media screen and (min-width: 576px) {
  .mat-form-field {
    width: 60%;
  }
}
